@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,800&display=swap");
/*========== COLOR ===========*/
/*========== FONT-SIZE ===========*/
/*==== MARGIN && PADDING ====*/
/* Responsive typography */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040C18;
  font-family: "poppins", sans-serif;
  font-size: 0.938rem;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

p {
  line-height: 1.2rem;
  margin-bottom: 2rem;
  font-size: 0.938rem;
  color: #81afdd;
  font-weight: 400;
  opacity: .7;
}

/*=========== CLASSES =============*/
.section {
  position: relative;
  padding: 5.5rem 0 1rem;
  margin-top: 2rem;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.title__sec {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  word-break: break-all;
}

.subtitle__sec {
  position: relative;
  color: white;
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 1rem;
  word-break: break-all;
}

.subtitle__sec::before {
  content: '';
  width: 35px;
  height: 3px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  position: absolute;
  top: -10px;
}

.bigtitle__sec {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  background: #ff4820;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn__secondary {
  background: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn__secondary:hover {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.btn__spec {
  background: #ff8a71;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 1000px;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
  }
  .section {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__sec {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  z-index: 1;
}

.header__sec nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__sec nav .logo__sec svg {
  width: 80px;
  height: 80px;
}

.header__sec nav .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 80vh;
  background-color: #1b78de;
  position: fixed;
  top: 0;
  right: -100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0 3px 10px #153453;
          box-shadow: 0 3px 10px #153453;
}

.header__sec nav .nav__container .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.header__sec nav .nav__container .nav__list .nav__item .nav__link {
  color: white;
  font-size: 0.938rem;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__sec nav .nav__container .nav__list .nav__item .nav__link:hover {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__sec nav .nav__container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.header__sec nav .nav__open {
  right: 0;
}

.header__sec nav .menu__toggler {
  position: absolute;
  right: 50px;
  cursor: pointer;
  z-index: 1;
}

/*=========== NAV__MEDIA__QUERY ===========*/
@media screen and (min-width: 850px) {
  .header__sec nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }
  .header__sec nav .nav__container {
    position: absolute;
    right: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__sec nav .nav__container .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .header__sec nav .menu__toggler {
    display: none;
  }
}

.home__sec {
  margin-top: 4rem;
}

.home__sec .home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__sec .home__container .home__data .home__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}

.home__sec .home__container .home__data .home__input input {
  background: #052D56;
  padding: 1rem 1.5rem;
  color: #FFFFFF;
  width: 60%;
  margin-bottom: 1rem;
}

.home__sec .home__container .home__data .home__input button {
  width: 40%;
  margin-top: -18px;
  border-radius: 0;
}

.home__sec .home__container .home__data .home__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.home__sec .home__container .home__data .home__users img {
  width: 150px;
  height: initial;
}

.home__sec .home__container .home__img img {
  width: 350px;
}

@media only screen and (min-width: 700px) {
  .home__sec .home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.5rem;
  }
  .home__sec .home__container .home__data {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .home__sec .home__container .home__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .home__sec .home__container .home__img img {
    width: 350px;
  }
}

@media only screen and (min-width: 1000px) {
  .home__sec .home__container .home__img img {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .home__sec .home__container .home__data .home__users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .home__sec .home__container .home__img img {
    width: 600px;
  }
}

.companies__sec .companies__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
}

@media only screen and (min-width: 400px) {
  .companies__sec .companies__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .companies__sec .companies__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
}

.about__sec .about__container {
  background: linear-gradient(89.97deg, #0f4279, #1b78de);
  padding: 2.5rem 1.5rem;
}

.about__sec .about__container .about__descp, .about__sec .about__container .about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__sec .about__container .about__header span {
  color: #ff8a71;
}

.about__sec .about__container .about__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media only screen and (min-width: 765px) {
  .about__sec .about__container .about__descp, .about__sec .about__container .about__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .about__sec .about__container .about__descp .big__one, .about__sec .about__container .about__header .big__one {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .about__sec .about__container .about__descp .small, .about__sec .about__container .about__header .small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about__sec .about__container .about__data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about__sec .about__container .about__data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.services__sec .services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 3.5rem;
}

.services__sec .services__container .services__descp span {
  color: #ff8a71;
}

.services__sec .services__container .services__content .services__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

@media screen and (min-width: 750px) {
  .services__sec .services__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }
  .services__sec .services__container .services__content .services__data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.features__sec .features__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  place-items: center;
}

.features__sec .features__container .features__img img {
  max-width: 300px;
  height: 100%;
  width: 100%;
}

.features__sec .features__container .features__data span:nth-child(1) {
  color: #71e5ff;
}

.features__sec .features__container .features__data span:last-child {
  color: #ff8a71;
}

@media screen and (min-width: 765px) {
  .features__sec .features__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .features__sec .features__container .features__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.banner__sec .banner__container {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  padding: 3rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.banner__sec .banner__container .banner__data {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #000;
}

.banner__sec .banner__container .banner__data p {
  color: #000;
}

.banner__sec .banner__container .banner__btn {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  background-color: #000;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .banner__sec .banner__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }
  .banner__sec .banner__container .banner__btn {
    padding: 1rem 0.5rem;
  }
}

.blog__sec .blog__container .blog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.blog__sec .blog__container .blog__content .blog2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.blog__sec .blog__container .blog__content .blog__box {
  position: relative;
  background-color: #042c54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.blog__sec .blog__container .blog__content .blog__box img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__sec .blog__container .blog__content .blog__box .blog__data {
  padding: 1.5rem;
}

.blog__sec .blog__container .blog__content .blog__box .blog__data span:first-child,
.blog__sec .blog__container .blog__content .blog__box .blog__data span:last-child {
  font-size: 10px;
}

.blog__sec .blog__container .blog__content .blog__box .blog__data h3 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 500px) {
  .blog__sec .blog__container .blog__content .blog2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .blog__sec .blog__container .blog__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .blog__sec .blog__container .blog__content .blog1 {
    height: 100%;
  }
}

.contact__sec .contact__container {
  text-align: center;
}

.contact__sec .contact__container .secondary__btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
  padding: 1rem 1rem;
}

.footer__sec .footer__descp {
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.footer__sec .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer__sec .footer__container .logo, .footer__sec .footer__container h4 {
  margin-bottom: 1.5rem;
}

.footer__sec .footer__container .footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.footer__sec .copyright__sec {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .footer__sec .footer__container .footer__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .footer__sec .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }
  .footer__sec .footer__container .footer__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
/*# sourceMappingURL=app.css.map */